.chat {
	width: 60vw;
	margin-left: 15em;
	padding: 0 0 0 0;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.messages {
	width: 100%;
	padding: 0em 1em 0em 1em;
	background-color: var(--light-background);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: right;
	margin-bottom: 14vh;
	margin-top: 75px;
}

.input {
	display: flex;
	position: fixed;
	bottom: 0px;
	height: 10%;
	width: 60vw;
	border-style: solid solid hidden solid;
	border-color: light-dark(#888888, #555555);
	background-color: var(--light-background);
	padding: 0.5em 1em 1em 1em;
	border-radius: 0.5em 0.5em 0 0;
	z-index: 11;
}

.chat-background {
	display: flex;
	background-color: var(--light-background);
	position: fixed;
	bottom: 0;
	padding: 1em 1em 2em 1em;
	height: 1%;
	width: 100vw;
	z-index: 9;
}

