.chat {
	width: 60vw;
	margin-left: 15em;
	padding: 0 0 0 0;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.messages {
	width: 100%;
	padding: 0em 1em 0em 1em;
	background-color: var(--light-background);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: right;
	margin-bottom: 14vh;
	margin-top: 75px;
}

.spinner {
	text-align: left;
	width: 100%;
	padding: 1em 1em .5em 1em;
	margin: 0em 0em 1em 0em;
	border-radius: 1.5em;
	border-radius: 1em 1em 1em 0em;
	overflow-y: auto;
}

.output {
	text-align: left;
	width: 100%;
	padding: .2em 1em .2em 1em;
	margin: 0em 0em 1em 0em;
	background-color: var(--dark-background);
	border-radius: 1.5em;
	border-radius: 1em 1em 1em 0em;
	overflow-y: auto;
}

.question {
	width: auto;
	text-align: left;
	margin-left: auto;
	background-color: var(--highlight-color);
	padding: 0em 1em 0em 1em;
	border-radius: 1em 1em 0 1em;
	margin-bottom: 1em;
}

.input {
	display: flex;
	position: fixed;
	bottom: 0px;
	height: 10%;
	width: 60vw;
	border-style: solid solid hidden solid;
	border-color: light-dark(#888888, #555555);
	background-color: var(--light-background);
	padding: 0.5em 1em 1em 1em;
	border-radius: 0.5em 0.5em 0 0;
	z-index: 11;
}
.input-block {
	font-family: var(--font-primary);
	width: 100%;
	font-size: var(--font-size-base);
	color: var(--text-color);
	display: block;
	background-color: var(--light-background);
	border-style: none;
	border-radius: 10px;
	outline: none;
	resize: none;
}

.button-container {
	float: right;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.chat-button{
	padding: 10px 12px 10px 12px;
	border: solid;
	border-radius: 15px;
	border-color: transparent;
	background-color: transparent;
	color: var(--text-color);
	font-size: 30px;
}

.file-present {
	background-color: var(--highlight-color);
}

.chat-background {
	display: flex;
	background-color: var(--light-background);
	position: fixed;
	bottom: 0;
	padding: 1em 1em 2em 1em;
	height: 1%;
	width: 100vw;
	z-index: 9;
}
