.input-block {
	font-family: var(--font-primary);
	width: 100%;
	font-size: var(--font-size-base);
	color: var(--text-color);
	display: block;
	background-color: var(--light-background);
	border-style: none;
	border-radius: 10px;
	outline: none;
	resize: none;
}

.button-container {
	float: right;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.chat-button{
	padding: 10px 12px 10px 12px;
	border: solid;
	border-radius: 15px;
	border-color: transparent;
	background-color: transparent;
	color: var(--text-color);
	font-size: 30px;
}

.file-present {
	background-color: var(--highlight-color);
}
