.interactive:hover {
	border-color: var(--clicked-button);
	background-color: var(--highlight-color);
}

.interactive:active {
	background-color: var(--clicked-button);
}

.select-box{
	background-color: var(--dark-background);
	color: var(--text-color);
	border-radius: 5px;
	font-size: 15px;
	border-color: var(--outline-color);
	padding: 5px 5px;
	text-align-last: center;
	font-family: "proximanova";

}

.button {
	padding: 10px 12px 10px 12px;
	border: solid;
	border-radius: 15px;
	background-color: var(--light-background)
}
