:root {
	color-scheme: light;
	--dark-background: #e3e3e3;
	--light-background: #ffffff;
	--highlight-color: #77bbbb;
	--clicked-button: gray;
	--text-color: black;
	--outline-color: #303030;
}

@media (prefers-color-scheme: dark) { 
	:root {
		color-scheme: dark;
		--dark-background: #1d1d1d;
		--light-background: #222222;
		--highlight-color: #114444;
		--clicked-button: white;
		--text-color: white;
		--outline-color: #707070;
	}
}


h2 {
	text-decoration: underline;
}


@font-face {
  font-family: 'proximanova';

  src: url('/proximanova.ttf') format('truetype'),
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	background-color: var(--light-background);
	margin: 0px 0px 0px 0px;	
	color: var(--text-color);
	font-family: "proximanova";
	font-size: 20px;
}

