
.threads {
	width: 88%;
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	-ms-overflow-style: none;
	scrollbar-width: none;
	min-height: 0;
	padding-bottom: 1rem;
	padding-left: 0.25rem;
	margin: 0 1rem 0 1rem;
	font-size: 0.5rem;
}

.threads::-webkit-scrollbar {
  display: none;
}

.title-items {
	max-width: 30rem;
	width: 90%;
	margin-inline: auto;
}

.threads-list {
	margin: 0;
	padding: 0;
	width: 100%;
}

.threads-button {
	margin-top: 3rem;
	text-align: center;
	width: 100%;
	padding: 10px 12px 10px 12px;
	border: solid;
	border-radius: 15px;
	background-color: var(--light-background);
	border-color: var(--outline-color);
	margin-bottom: 1rem;
	font-size: var(--font-size-lg);
}

.threads-title {
	margin-bottom: none;
}

.thread {
	margin-block-start: 0;
	margin-block-end: 0;
	max-width: 600px;
	width: 90%;
	margin: 0;
	padding: 5px 0.5rem 5px 0.5rem;
	border: 1px solid transparent;
	font-size: 0.9rem;
	text-align: left;

}

.thread-selected {
	background-color: var(--highlight-color);
	border-radius: 0.5rem;
}

.thread > * {
	margin: 0;
}

.thread:hover {
	border: 1px solid white;
	border-radius: 0.5rem;
	background-color: var(--highlight-color);
}

.separator {
	color: var(--outline-color);
	background-color: var(--outline-color);
	border: none;
	height: 1px;
	width: 90%;
}


